body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

/* Background image */
.hero {
    height: 100vh;
    background: url("/static/mountain.jpg") no-repeat center center/cover;
    position: relative;
}

/* Dark overlay for readability */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45);
}

/* Center content */
.hero-content {
    position: relative;
    z-index: 2;
    color: white;
     text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/* Title */
.hero-content h1 {
    font-family: 'Platfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;

    text-shadow: 0px 0px 8px rgba(255,255,255,0.7),
                 0px 2px 6px rgba(0,0,0,0.6)
              
    
}

/* Subtitle */
.hero-content p {
    font-size: 22px;
    margin-bottom: 20px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.6);
}

/* Button styling */
button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;

}

button:hover {
    background-color: #1b5e20;
}

/* Navigation bar */
.navbar {
    background-color: #1f4f5a;
    color: rgb(24, 180, 183);
    padding: 15px;
    text-align: center;
    font-size: 22px;
}

/* Main content box */
.container {
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}
button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

.login-page {
    height: 100vh;
    background: url("/static/mountain.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login box */
.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}

/* Inputs */
.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    }

/* Button */
.login-box button {
    margin-top: 10px;
}