<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div>Student Dashboard</div>
    <div>
        <button onclick="toggleMode()">🌙</button>
        <a href="/logout"><button>Logout</button></a>
    </div>
</div>

<div class="dashboard-container">

    <div class="card">
    <h3>📩 Submit Complaint</h3>
    <button>Open</button>
</div>

<div class="card">
    <h3>📄 View Complaints</h3>
    <button>Open</button>
</div>

<div class="card">
    <h3>📢 Announcements</h3>
    <button>Open</button>
</div>

</div>

<script src="{{ url_for('static', filename='theme.js') }}"></script>

</body>
</html>