<!DOCTYPE html>
<html>
<head>
    <title>UniPortal</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="hero">
    <div class="overlay"></div>

    <div class="hero-content">
        <h1>UniPortal</h1>
        <p>A unified platform inspired by the serenity of the Himalayas</p>

        <a href="/login_page">
            <button>Login</button>
        </a>
    </div>
</div>

</body>
</html>